@import "variable";

/////////////
/// Global
//
body {
  background: $background-global;
  padding: $page-gutter;
  position: relative;
  color: $color-text;
  font-size: $basic-text-size;
  line-height: 20px;
}

/////////////////
/// Background
//
.bg-dark {background: $bg-dark;}
.bg-light {background: $bg-light;}
.bg-success {background: $bg-success;}
.bg-primary {background: $bg-primary;}
.bg-danger {background: $bg-danger;}
.bg-warning {background: $bg-warning;}

///////////
/// Text
//
.text-default {color: $text-default; }
.text-success {color: $text-success;}
.text-primary {color: $text-primary;}
.text-danger {color: $text-danger;}
.text-warning {color: $text-warning;}

.title {
  color: $color-title;
  margin: 0px;

  .text-default { color: $text-default-l; }
  .text-success {color: $text-success-l;}
  .text-primary {color: $text-primary-l;}
  .text-danger {color: $text-danger-l;}
  .text-warning {color: $text-warning-l;}
}

a {
  color: $color-link;
  &:hover {
    text-decoration: none;
    color: $color-link-hover;
  }

  &.text-default:hover {color: $text-default-d;}
  &.text-success:hover {color: $text-success-d;}
  &.text-primary:hover {color: $text-primary-d;}
  &.text-danger:hover {color: $text-danger-d;}
  &.text-warning:hover {color: $text-warning-d;}
}

////////////
/// Buton
///
.btn-default {
  background: $bg-btn-default;
  border-color: $border-btn-default;
  color: white;
  &:hover {
    color: white;
    background: $bg-btn-default-hover;
    border-color: $border-btn-default-hover;
  }
}
.btn-success {
  background: $bg-btn-success;
  border-color: $border-btn-success;
  &:hover {
    background: $bg-btn-success-hover;
    border-color: $border-btn-success-hover;
  }
}
.btn-primary {
  background: $bg-btn-primary;
  border-color: $border-btn-primary;
  &:hover {
    background: $bg-btn-primary-hover;
    border-color: $border-btn-primary-hover;
  }
}
.btn-danger {
  background: $bg-btn-danger;
  border-color: $border-btn-danger;
  &:hover {
    background: $bg-btn-danger-hover;
    border-color: $border-btn-danger-hover;
  }
}
.btn-warning {
  background: $bg-btn-warning;
  border-color: $border-btn-warning;
  &:hover {
    background: $bg-btn-warning-hover;
    border-color: $border-btn-warning-hover;
  }
}

///////////
/// Menu
//
.menu {
  .title {
    font-size: 27px;
    margin: 0px;
    font-weight: bold;
    line-height: #{$menu-height - 2};
  }
  ul {
    li {
      display: inline-block;
      padding-left: 21px;
    }
  }
}

//////////////
/// Submenu
//
.sub-menu {
  padding-top: 12px;

  ul {
    padding-right: 9px;
    padding-left: 9px;

    li {
      padding-top: 6px;
      padding-bottom: 6px;

      .glyphicon-home {
        font-size: 36px;
      }

      &.separate { border-bottom: 3px solid $background-global; }
    }
  }
}

//////////////
/// Content
//
.content {
  padding: 15px 18px;

  .block {
    margin-bottom: 36px;

    > .title {
      font-size: 21px;
      padding-bottom: 9px;
      font-weight: normal;
      text-transform: uppercase;
      margin-bottom: 21px;

      &.text-default {border-bottom: solid 1px $text-default;}
      &.text-success {border-bottom: solid 1px $text-success;}
      &.text-primary {border-bottom: solid 1px $text-primary;}
      &.text-danger {border-bottom: solid 1px $text-danger;}
      &.text-warning {border-bottom: solid 1px $text-warning;}
    }
  }

  .box {
    margin-bottom: 30px;
    padding: 9px 12px;
    border-radius: $radius-box;

    .title {
      font-size: $basic-text-size;
      font-weight: normal;
      line-height: 20px;
    }
    .box { margin-bottom: 9px;}
  }
}

///////////
/// Form
//
form {
  label { color: $basic-form-label; }

  input.form-control {
    border: none;
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 1px solid $basic-form-input;
    color: $basic-form-input-text;

    &:focus {
      box-shadow: none;
      border-bottom: 1px solid $basic-form-input-focus;
    }
  }

  /// Global color
  &.form-default {
    label { color: $form-label-default; }
    input.form-control {
      border-color: $form-input-default;
      color: $form-input-text-default;
      &:focus { border-color: $form-input-focus-default }
    }
  }
  &.form-success {
    label { color: $form-label-success; }
    input.form-control {
      border-color: $form-input-success;
      color: $form-input-text-success;
      &:focus { border-color: $form-input-focus-success }
    }
  }
  &.form-primary {
    label { color: $form-label-primary; }
    input.form-control {
      border-color: $form-input-primary;
      color: $form-input-text-primary;
      &:focus { border-color: $form-input-focus-primary }
    }
  }
  &.form-danger {
    label { color: $form-label-danger; }
    input.form-control {
      border-color: $form-input-danger;
      color: $form-input-text-danger;
      &:focus { border-color: $form-input-focus-danger }
    }
  }
  &.form-warning {
    label { color: $form-label-warning; }
    input.form-control {
      border-color: $form-input-warning;
      color: $form-input-text-warning;
      &:focus { border-color: $form-input-focus-warning }
    }
  }

  /// Specific input
  .form-group {
    &.input-default {
      label { color: $form-label-default; }
      input.form-control {
        border-color: $form-input-default;
        color: $form-input-text-default;
        &:focus { border-color: $form-input-focus-default }
      }
    }
    &.input-success {
      label { color: $form-label-success; }
      input.form-control {
        border-color: $form-input-success;
        color: $form-input-text-success;
        &:focus { border-color: $form-input-focus-success }
      }
    }
    &.input-primary {
      label { color: $form-label-primary; }
      input.form-control {
        border-color: $form-input-primary;
        color: $form-input-text-primary;
        &:focus { border-color: $form-input-focus-primary }
      }
    }
    &.input-danger {
      label { color: $form-label-danger; }
      input.form-control {
        border-color: $form-input-danger;
        color: $form-input-text-danger;
        &:focus { border-color: $form-input-focus-danger }
      }
    }
    &.input-warning {
      label { color: $form-label-warning; }
      input.form-control {
        border-color: $form-input-warning;
        color: $form-input-text-warning;
        &:focus { border-color: $form-input-focus-warning }
      }
    }
  }
}

// .checkbox {
//   input[type=checkbox] {
//     -webkit-appearance: none;
//
//     &::before {
//       content: " ";
//       display: inline-block;
//       width: 20px;
//       height: 20px;
//       cursor: pointer;
//       background: none;
//       border: 1px solid black;
//     }
//   }
// }
